*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 137.5%;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height:100%;
    line-height:1.5;
}

main {
    width: 590px;
    margin: 0 auto;
}

p {
line-height: 1.5rem;
margin-top: 1.5rem;
margin-bottom: 0;
}

.connect {
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom:0;
    display:block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 1.5rem;
margin-bottom: 0;
line-height: 1.5rem;
}
h1 {
font-size: 4.242rem;
line-height: 4.5rem;
margin-top: 3rem;
}
h2 {
font-size: 2.828rem;
line-height: 3rem;
margin-top: 3rem;
}

/* Leading paragraph text */
.about {
    font-size: 1.6rem;
    line-height: 1.3;
}

a {
    color: #222;
    text-decoration:none;
}
a:hover,
a:focus {
    color: #52f2c8;
}

.button {
	display: inline-block;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 0.1rem solid black;
	border-radius: 0.317rem;
	background-color: #fff;
	color: black;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
    line-height: 1;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

@media only screen and (max-width: 812px) {
    body {
        margin: 16px;
    }

    main {
        width: 100%;
    }

    h1 {
        font-size: 3.4rem;
        line-height: 3.8rem;
    }
}

li{
    list-style-type:none;
}

nav {
    width:100%;
    display:flex;
    justify-content:center;
    padding:15px;
}
.menu {
    display: flex;
    justify-content:center;
    width:590px;
}

.menu > li{
    flex:1;
}

.container {
    margin-top:2rem;
    width: 100%;
}


.proj-img{
    height:auto;
    width:90%;
    border:2px solid #444;
    box-shadow:  0 6px 4px -4px rgba(0,0,0,0.7); 
    border-radius: 15px;
}

.pad{
    padding:0.5rem;
}

.pad-right{
    padding-right:0.5rem;
}

.pad-bot{
    padding-bottom:0.5rem;
}

.margin-top{
    margin-top:1.5rem;
}

.margin-bot{
    margin-bottom:1.5rem;
}